:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--white-text-clolor: #ffffff;
	--second-white-color: rgba(255, 255, 255, 0.6);
	--main-background-color: #ffffff;
	--second-background-color: #f5f4fa;
	--accent-background-color: #2f303a;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--main-background-color);
	margin: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.section {
	width: 1200px;
	margin: auto;
}

.header {
	background-color: var(--main-background-color);
}

.header-nav {
	margin-left: auto;
	margin-right: auto;
	width: 1230px;
	outline: 2px solid blue;
}

.header-logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
	color: var(--accent-color);
}

.header-logo > span {
	color: var(--title-text-color);
}

.header-item {
	line-height: 1.1;
	font-weight: 500;
	letter-spacing: 0.02em;
}

.header-item > a {
	color: var(--title-text-color);
}

.header-list .current {
	color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}

.header-group {
	letter-spacing: 0.02em;
}

.header-element {
	line-height: 1.1;
	font-weight: 500;
}

.header-element > a {
	color: var(--primary-text-color);
}

.header-contact:hover,
.header-contact:focus {
	color: var(--accent-color);
}

.header-phone:hover,
.header-phone:focus {
	color: var(--accent-color);
}

.hero {
	background-color: var(--accent-background-color);
	color: var(--white-text-clolor);
	text-align: center;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	margin-top: 0;
	margin-bottom: 30px;
	text-transform: uppercase;
	outline: 1px solid white;
}

.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	align-items: center;
	cursor: pointer;
	background-color: var(--accent-color);
	color: var(--white-text-clolor);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	border: 1px solid transparent;
}

.features-section {
	outline: 1px solid blue;
	margin-top: 0;
}

.features-list {
	display: flex;
	justify-content: center;
	margin: 94px 0px;
}

.features-subtitle {
	font-size: 14px;
	line-height: 1.9;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-text-color);
}

.features-desc {
	font-weight: 400;
	line-height: 1.7;
}

.services-list {
	display: flex;
	margin-bottom: 94px;
}

.services-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	color: var(--title-text-color);
	margin-bottom: 50px;
}

.services-app {
	margin-left: 30px;
	margin-right: 30px;
}

.team {
	background-color: var(--second-background-color);
}

.team-list {
	display: flex;
	justify-content: center;
	margin-bottom: 94px;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	text-align: center;
	color: var(--title-text-color);
	margin-bottom: 50px;
}

.team-group {
	text-align: center;
}

.team-item {
	background-color: var(--main-background-color);
	/* material shadow v1 */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-caption {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	color: var(--title-text-color);
}

.team-desc {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
}

.portfolio {
	background-color: var(--main-background-color);
}

.portfolio-buttons {
	display: flex;
	justify-content: center;
}

.portfolio-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	letter-spacing: 0.03em;
	cursor: pointer;
	background-color: var(--second-background-color);
	border-color: var(--second-background-color);
	border-radius: 4px;
	padding: 6px 22px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	background-color: var(--accent-color);
	color: var(--white-text-clolor);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0;
	list-style: none;
}

.portfolio-item {
	/* container bg */
	box-sizing: border-box;
	background-color: var(--main-background-color);
	border: 1px solid #eeeeee;
}

.portfolio-subtitle {
	font-size: 18px;
	font-weight: 700;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.portfolio-desc {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.9;
}

.footer {
	background-color: var(--accent-background-color);
}

.footer-logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: var(--accent-color);
	line-height: 1.2;
}

.footer-logo > span {
	color: var(--white-text-clolor);
}

.footer-item {
	font-weight: 400;
	font-style: normal;
	line-height: 1.7;
}

.footer-address {
	color: var(--white-text-clolor);
}

.footer-address:hover,
.footer-address:focus {
	color: var(--accent-color);
}

.footer-contact {
	color: var(--second-white-color);
}

.footer-contact:hover,
.footer-contact:focus {
	color: var(--accent-color);
}

.footer-phone {
	color: var(--second-white-color);
}

.footer-phone:hover,
.footer-phone:focus {
	color: var(--accent-color);
}
